[Desktop Entry]
Categories=Development;Office;
Comment=Tolles Brainstorming- und Mindmapping-Tool
Exec=AppRun %U
Icon=icon
Name=XMind-8
StartupNotify=true
StartupWMClass=XMind-8
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
X-MultipleArgs=false
